*{
    font-family: "Arial";
    letter-spacing: 0.001em;
    color: #191919;
    line-height: 1.5;
    font-size: 14pt;
}  

/*header*/

.img-width-100 {
    width: 100%;
    height: auto;

}

.header-image{
   /* margin-top: 123px;*/ 
    height: 100vh;
    background-color: #4e598c;

}


.header-image2{
    /* margin-top: 123px;*/ 
     height: 100vh;
     background-color: #F8E4EC;
 
 }

 .header-image3{
    /* margin-top: 123px;*/ 
     height: 100vh;
     background-color: ã…£inear-gradient(90deg, rgba(176,110,247,1) 0%, rgba(98,71,245,1) 100%);
     
 
 }
 


.header-button {
    text-align: center;
    color: white;
    font-weight: 600;
    font-size: 18pt;
}


.header-button2 {
    text-align: center;
    color: black;
    font-weight: 600;
    font-size: 18pt;
}
.top{
    padding-top: 80px;
    
}


.top2{
    padding-top: 80px;
    color: black;

    
}
.header-img{
    padding-top: 50px;
    padding-bottom: 60px;
}

#scroll-button{
    text-align: center;
    width: 20px;
    margin-left: 49%;
    margin-right: auto;
    animation-duration: 2s;
    animation-delay: 1.5s;
    animation-iteration-count: infinite;
}


#scroll-button-top{
    transform: scaleY(-1);
    margin-top: 70px;
    margin-bottom: 30px;
    text-align: center;
    width: 20px;
    margin-left: 49%;
    margin-right: auto;
    animation-duration: 2s;
    animation-delay: 1.5s;
    animation-iteration-count: infinite;
}

.bounce {
    animation-name: bounce;
    animation-timing-function: ease;
}

@keyframes bounce {
    0%   { transform:       translateY(0); }
    10%  { transform:  translateY(0); }
    30%  { transform:   translateY(-12px); }
    50%  { transform: translateY(0); }
    57%  { transform:      translateY(-5px); }
    64%  { transform:      translateY(0); }
    100% { transform:    translateY(0); }
}


/*overview*/

.overview{
    margin-left: 300px;
    margin-right: 300px;
    height: 80vh;
    font-size: 14pt;
    vertical-align: middle;
    padding-top: 200px;
}

.overview2{
    margin-left: 300px;
    margin-right: 300px;
    height: 50vh;
    font-size: 14pt;
    vertical-align: middle;
    padding-top: 200px;
}

.overview-title{
    font-size: 35pt;
    font-weight: 600;
    padding-bottom: 50px;
    line-height: 1.2;
}


.overview-subtitle{
    font-size: 14pt;

}

.gray{
    color: gray;
}

.overview-category{
    display: inline-block;
    width: relative;
    margin-right: 5%;
    font-size: 10pt;
    color: gray;
   font-family: 'Roboto Mono', monospace;
}


.overview-category-result{
    display: block;
    width: relative;
    margin-right: 1%;
    padding-top: 10px;
    padding-bottom: 30px;
    font-size: 10pt;
}

#overview-notice-emoji{
    margin-top: 50px;
    display: inline-block;
    width: 5px;
    font-size: 12pt;
}

.overview-notice {
    display: inline-block;
    vertical-align: text-top;
    padding-top: 100px;
    font-size: 12pt;
}

.tab{
    margin-left: 20px;
}

/*necessary*/
.margin-bottom-20{
    margin-bottom: 20px;
}
.margin-top-100{
    margin-top: 100px;
}

.margin-top-50{
    margin-top: 50px;
}

.margin-bottom-50{
    margin-bottom: 50px;
}

.margin-top-150 {
    margin-top: 150px;
}

.no-margin-top {
    margin-top: -80px;
}

.no-margin-top-100{
    margin-top: -130px;
}
.no-margin-bottom{
    margin-bottom: -80px;
}
.margin-left-300 {
    margin-left: 300px;
}
.font-size-11pt{
    font-size: 11pt;
}

.italic{
    font-style: italic;
}

.line{
    border: 1px solid lightgray;
    margin-left: 200px;
    margin-right: 200px;
}

.max-width-100{
    width: 1500px;
    text-align: center;
    display: block;
}

.left {
    text-align: left;
    margin-left: 300px;
    margin-top: 20px;
}

.center {
    text-align: center;
    margin: 0 auto;
    display: block;}


/*body*/
.body{
    margin-left: 300px;
    margin-right: 300px;
    margin-bottom: 100px;
    margin-top: 100px;
    font-size: 14pt;
}

.body-30-margin-bottom{ 
    margin-bottom:  30px;
}
.body-small-title{
    margin-top: 50px;
    margin-bottom: 30px;
    font-size: 11pt;
    letter-spacing: 0.05em;
    color: gray;
    font-family: 'Roboto Mono', monospace;
    text-transform: uppercase;
}

.body-contents {
    margin-bottom: 50px;
}

.body-title{
    font-size: 25pt;
    font-weight: 600;
    margin-bottom: 50px;
}

.body-quote{
    vertical-align: text-top;
   /* font-style: italic;*/
    font-size: 13pt;
    margin-bottom: 10px;
    /*margin-bottom: 50px;*/
    width: 85%;
    margin-left: 5%;
    margin-right: 10%;
}

.body-quote-last{
    margin-bottom: 50px;

}
/* column */
.column {
    width: 49%;
    display: inline-block;
    vertical-align: top;
}

.column-first {
    margin-right: 5%;
}

.column-title {
    letter-spacing: 0.1em;
    font-weight: 600;
    height: 34px;
   /* text-transform: uppercase; */
}

.column-text{
    width: 90%;
    padding-bottom: 50px;
}

.three-column {
    width: 32%;
}

.four-column {
    width: 48%;
}

.column-big {
    width: 60%;
    display: inline-block;
    vertical-align: top;
}

.column-small{
    width:32%;
    display: inline-block;
    vertical-align: top;
}

/*slideshow*/
/* Slideshow container */
.slide-img {
    margin-bottom: 10px;
}
.slideshow-container {
    width: 100%;
    position: relative;
    box-sizing:border-box;
  }
  
  /*
  .background-f2f3f5{
    background-color: #f2f3f5;
    padding-top: 15px;
    padding-bottom: 15px;

  }
  /* Hide the images by default */
  .mySlides {
    display: none;
  }

  .mySlides1, .mySlides2 {display: none}

  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    margin-top: -22px;
    margin-left: 50px;
    margin-right: 50px;
  }
  
  .width-20{
    height: 20px;

  }
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;

  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: lightgray;
  }
  
  /* Caption text */
  .text {
    color: black;
    width: 100%;
    text-align: center;
    color: gray;
    font-weight: 500;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  
  .text p {
      margin-left: 200px;
      padding-right: 200px;
  }

  /* for header + sliders */
  .caption-text {
      color: gray;
      font-size: 12pt;
  }

  .title{
    text-align: left;
     margin-left: 125px;
     width: 80%;
  }

  /* Number text (1/3 etc) */
  .numbertext {
    color: black;
    font-size: 12px;
    margin-right: 130px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    text-align: right;
    color: gray;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    background-position: 10  10;
    height: 10px;
    width: 10px;
    background-color: lightgray;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
 
  }


  .active, .dot:hover {
    background-color: gray;
  }


  .dot1 {
    cursor: pointer;
    background-position: 10  10;
    height: 10px;
    width: 10px;
    background-color: lightgray;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }

  .active, .dot1:hover, .dot2:hover{
    background-color: gray;  
  }
  

  .dot2 {
    cursor: pointer;
    background-position: 10  10;
    height: 10px;
    width: 10px;
    background-color: lightgray;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
 
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

  #slide1 {
      display:block}

/*summary*/
summary{
    outline:none;
  }

.summary-title{
    font-style: italic;
    font-size: 12pt;
    margin-bottom: 30px;
}

.img-width-60{
    width: 60%;
}

.video {
    text-align: center;
}


.videos{
    text-align: center;
    background-color: #f2f3f5;
}

.video4 {
    display: inline-block;
    height: 550px;
    width: auto;
    margin-right: 3%;

}
#container{
    width: 800px;
    padding: 30px;
    height: 500px;
    overflow-y: scroll;
    background-color: #fafafa;
}

.container-img {
    width: 85%;
    margin-left: 10%;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

/*toggle*/
  .fold {
    margin-top: 10px;
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	transition: all 0.3s linear;
}

.unfolder { display: none; }

.toggle-label {
	display: inline-block;
    cursor: pointer;
    font-size: 13pt;
}

.unfold-icon, .fold-icon {
  color: #000000;
  width: 10px;
  margin-right: 5px;
  display: inline-block;
}

.unfolder ~ .fold {
  display: none;
}
.unfolder ~ label .fold-icon {
  display: none;
}

.unfolder:checked ~ .fold {
  display: block;
}
.unfolder:checked ~ label .fold-icon {
  display: inline-block;
}
.unfolder:checked ~ label .unfold-icon {
  display: none;
}
.toggle-slide{
    margin-left: 300px;
}


.po-vid {
    display: inline-block;
    width: 30%;
    vertical-align: top;
    margin-top: 65px;
}


/*
.po-text{
    display: inline-block;
    width: 64%;
    margin-right: 3%;
}*/



.full-prototype{
    width: 100%;
    display: inline-block;
    background-color: #f2f3f5;
    padding-bottom: 50px;

}

.full-prototype-title {
    padding-top: 50px;
    padding-bottom: 30px;
    letter-spacing: 0.1em;
    font-weight: 600;
    font-size: 11pt;
    margin-left: 300px;
}

.margin-top-150 {
    margin-top: 150px;
}

.reflection {
    margin-bottom: 100px;
}

.spec-footer{
    vertical-align: middle;
    background-color: #4e598c;
    padding-bottom: 80px;
}

.margin-top-200 {
    margin-top: 300px;
}

.margin-top-100 {
    margin-top: 100px;
}

.white {
    color: white;
}

.img-width-60{
    width: 60%;

}