*{
    /*-webkit-font-smoothing: antialiased;*/

    font-family: -apple-system, BlinkMacSystemFont, 
    "Segoe UI", "Roboto", "Oxygen", 
    "Ubuntu", "Cantarell", "Fira Sans", 
    "Droid Sans", "Helvetica Neue", sans-serif;
    letter-spacing: 0.001em;
    line-height: 1.5;
    color: #191919;
}  


a{
    text-decoration: none;
}
html {
    scroll-behavior: smooth;
  }

/*basics*/


.margin-bottom {
    margin-bottom: 5px;
}

.margin-bottom-10{
    margin-bottom: 10px;
}
.line-before{
    margin-top: 10pt;
}


.underline {
    text-decoration: underline;
}
.line-after{
    margin-bottom: 10pt;
}

.font-11pt{
    font-size: 11pt;
}

.font-12pt{
    font-size: 12pt;
}

.font-14pt{
    font-size: 16pt;
}

.font-18pt{
    font-size: 18pt;
}

.font-black{
    color: black;
}

.font-10 {
    font-size: 10pt;
}
.a-font-black{
    display: inline-block;
}
.a-font-black a{
    color: black;
}


/*nav bar*/
.nav {
    width: 100%;
    top: 0;
    padding-top: 10px;
    padding-bottom: 20px;
    z-index: 1000000;
    height:50px; 
    position: fixed;
}

.nav a {
  float: left;
  color: black;
  text-decoration: none;
}

.margin-nav {
    padding: 16px 20px;
}

.nav a:hover {
  color: black;
}


.nav a:active {
  color: black;
}

.nav-right {
  float: right;
  margin-right: 180px;
  
}

.nav-right a{
    font-weight: 500;
    color:#a3a3a3;
    letter-spacing: 0.01em;    
}

.hidden {
    visibility: hidden;
}

.white-space {
    height: 80vh;
}

#jessiekim {
    margin-left: 200px;
    font-size: 20pt;
    margin-top: 6px;
}

#jessiekim:hover span{
    visibility: visible;

}

ul a {
    text-decoration: none;
    list-style: none;
    font-size: 10pt;
    color: grey;
}


.cssanimation, .cssanimation span {
    animation-duration: 1.5s;
    animation-fill-mode: both;
}

.cssanimation2, .cssanimation span {
    animation-duration: 2s;
    animation-fill-mode: both;
}
/**
 * cssanimation.css
 * https://www.cssanimatio.io
 * Created and maintained by: Pavel
 * Find me at: https://www.linkedin.com/in/yesiamrocks/
 * Email: hello@cssanimation.io
 * Github: https://github.com/yesiamrocks/cssanimation.io
 * Title: A CSS Animation Library for Developers and Ninjas
 * Copyright (c) 2017 Pavel
 * License: cssanimation.io is licensed under the MIT license
 **/

.cssanimation span { display: inline-block }

.fadeInBottom { animation-name: fadeInBottom }
@keyframes fadeInBottom {
    from {
        opacity: 0;
        transform: translateY(20%);
    }
    to { opacity: 1 }
}


/*body*/
body{
    font-size: 12pt;
    padding: 0px;
    margin: 0px;
}

p {
    margin-top: 0px;
    margin-bottom: 0px;
}


/* hello */

.hello {
    margin-top: 15%;
    margin-left: 200px;
    margin-right: 200px;
    text-align: center;
    margin-bottom: 4%;
   /* height: 50vh;*/
   
}

#hello-image{
    width: 38%;
    display: inline-block;
    margin-bottom: 2%;
}


.hello-text{
    display: inline-block;
    margin-top: 6%;
    width: 85%;
}

#hello-desc{
    width: 85%;
    color: #c6c6c6;
    margin-top: 1%;

}

#emph {
    color: #F06175;
}
#emph2 {
    color: #F06175;
}

#font-20 {
    font-size: 20pt;
}

#grey {
    color: #c6c6c6;

}
.sub-text {
    margin-top: 10%;
    color: #c6c6c6;
}

#point {
    color: #F06175;
}

.underline{
    text-decoration: underline;
}

#seek {
    margin-top: 5%;
    font-size: 11pt;
    color: #c6c6c6;

}


/*work*/
#works{
    height: 100px;
}

.work {
    margin-left: 200px;
    margin-right: 200px;
}


#projects{
    font-weight: 600;
    color:black;
    margin-bottom: 20px;
}

/*
.first-box {
    margin-right: 2%;
}*/

.work-box {
    position: relative;
   /* width: 48.5%;
    height: auto;
    display: inline-block;
    margin-bottom: 2%;
    background-color: #000000;*/
    
  }
 
.text-box{
    position: relative;
  /*  width: 48.5%;
    height: auto;*/
    display: inline-block;
    margin-top: 2%;
    width: 100%;
}

.text-company {
    font-size: 14pt;
    margin-bottom: 5%;
    font-weight: 500;
}

.work-image {
    display: inline-block;
    width: 100%;
    height: 100%;
    border-radius: 1%;
  }

  .box{
      display: inline-block;
      width: 48%;
      margin-bottom: 5%;
  }

  .margin-box {
      width: 3%;
      display: inline-block;
      background-color: #000000;
  }

.work-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
    width: 100%;
    opacity: 0;
    transition: .3s ease;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    padding: 0px;
    margin: 0px;
  }
  
.work-box:hover .work-overlay {
    opacity: 1;
  }
  
.work-text {
    color: white;
    position: absolute;

    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    
    color: white;
    text-align: center;
  }

 
.font-small {
    font-size: 10pt;
    margin-top: 5px;
}

.work-text-date {
    position: absolute;
    bottom: 0;
    font-weight: 600;
    font-size: 8pt;
    color: white;
    width: 100%;
    text-align: center;
    padding-bottom: 20px;
}


.work-text-type {
    top: 0;
    padding-top: 20px;

}


.work-row1 {
    margin-bottom: 15%;
}


.text-desc {
    font-size: 10pt;
    color: grey;
}

/* needed for each box */

.loreal-back{
    background-color: #ffffff;
    border-radius: 1%;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.15);

}

.loreal-box:hover div{
    background-color: #ffffff;
    color: black;
    border-radius: 1%;

}


.dep-back{
    background-color: #f7e3eb;
    border-radius: 1%;
}

.dep-box:hover div{
    background-color: #f7e3eb;
    color: black;
    border-radius: 1%;

}


.insta-back{
    background-color: #F9F9F9;
    border-radius: 1%;

}
.insta-box:hover div{
    background-color: #f2f3f5;
    color: black;
    border-radius: 1%;

}

.cure-back {
    background-color: #4e598c;
    border-radius: 1%;

}
.cure-box:hover .work-overlay {
    background-color: #4e598c; 
    border-radius: 1%;
   
}


/*footer*/
footer {
    position: relative;
    padding-left: 180px;
    padding-top: 30px;
    padding-bottom: 30px;
    bottom: 0;
    display: block;
}


footer a {
color: gray;
    text-decoration: none;
    margin-left: 20px;
    font-weight: 500;
}

footer a:hover{
    color: black;
}


/*--------------------------*/
/*about.html*/

.about {
        margin-top: 130px;
        margin-left: 200px;
        margin-right: 200px;
        height: 50vh;
}
.about-box {
    height: 80vh;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 150px;
     
}

.about-me {
    width: 500px;
    margin-bottom: 30px;
}

.about-image {
   
    margin-top: 140px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
        
}


.about-text {
    margin-left: 200px;
    margin-right: 200px;
    color: gray;
    vertical-align: middle;

}

#left {
    text-align: left;
}

.hello2 {

    margin-top: 50px;
    text-align: center;
   /* height: 50vh;*/
}



#hello-desc-about {
    font-size: 14pt;
    color: #7c7c7c;
    margin-top: 1%;

}

#myname {
    margin-top: 5%;
    color: #F06175;

}

.hello2 a {
    font-size: 12pt;
    text-decoration: underline;
}


/* 1200px 
@media screen and (max-width: 1200px) {
    .box {
        position: relative;
        width: 100%;
        height: auto;
        display: inline-block;
        margin-bottom: 2%;
      }
     
}
*/ 